.hierarchy-display-container {
  display: inline-flex;
  position: absolute;
  top: 6rem;
  left: 1rem;
  padding-top: 6.5vh;
  min-width: 1000px;
  padding-bottom: 3vh;
}

.courses-container,
.emphases-container {
  text-align: center;
  margin-right: 2vw;
  margin-left: 2vw;
  border-bottom: 1vh solid #fff;
}

.emphases-container {
  border-top: 1vh solid #b0d6e1;
  border-radius: 10px;
  background-color: #fff;
  padding-right: 5vw;
  padding-left: 5vw;
  height: 60vh;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
}

.courses-container {
  overflow-y: auto;
  scrollbar-color: #ceeaf2 #fff;
  scrollbar-width: thin;
  border-top: 1vh solid #b0d6e1;
  border-radius: 10px;
  background-color: #fff;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  height: 60vh;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
}

.each-course {
  padding-left: 4vw;
  padding-right: 4vw;
  width: 150px;
}

.course-details-header {
  text-align: left;
  color: #f0802c;
  font-size: 2.75rem;
}

.each_empahses {
  width: 200px;
}

.course-details-container {
  border-bottom: 1vh solid #fff;
  height: 57vh;
  overflow-y: auto;
  scrollbar-color: #ceeaf2 #fff;
  scrollbar-width: thin;
  padding-left: 4vw;
  padding-right: 4vw;
  border-top: 1vh solid #b0d6e1;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
  padding-right: 5vw;
  padding-left: 3vw;
  padding-bottom: 3vh;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
  margin-left: 2vw;
  margin-right: 3vw;
}

.hierarchy-display-container button {
  margin-bottom: 5vh;
  background-color: transparent;
  color: #559aaa;
}

.hierarchy-display-container button:hover {
  color: #b0d6e1;
  transition: 0.1s;
  font-weight: bold;
}

.hierarchy-display-container button:visited,
.hierarchy-display-container button:focus,
.hierarchy-display-container button:active {
  color: #f0802c;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #f0802c;
  font-size: 2.75rem;
}

.course-details-blue {
  color: #559aaa;
  font-weight: bold;
}

p {
  color: #559aaa;
  font-weight: 400;
  font-size: 1.25em;
}

.hierarchy-display-container button {
  border: none;
  font-size: 1.25em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
}
