/* Header.css */

.header_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #123740;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: solid 2px #b0d6e1;
}

.header_li {
  float: left;
}

.header_li h2 {
  display: block;
  color: #f9f9f9;
  text-align: center;
  text-decoration: none;
  font-size: 1.75em;
  margin-top: 1vh;
  margin-bottom: 0.75vh;
}

.catalog_title {
  font-weight: 400;
}

.byu_title {
  margin-left: 1vw;
  font-weight: 800;
  letter-spacing: 0.1vw;
}

.vertical_break_header {
  font-weight: 100;
  margin-left: 1vw;
  margin-right: 1vw;
  border: solid 1px #559aaa;
  height: 1.75em;
}
