/* Header.css */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154c79;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

li {
  float: left;
  padding-right: 1rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: #fff;
}
