/* Header.css */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #123740;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

li {
  float: left;
}

.header_search {
  float: right;
  padding: 1.5vh 1vh;
}

.header_search button {
  float: right;
  padding: 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ff861b;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border: 3px solid #ff861b;
}

.header_search button:hover {
  opacity: 75%;
}

li a {
  display: block;
  color: #b0d6e1;
  text-align: center;
  padding: 1vh 1vh;
  text-decoration: none;
  font-size: 2.75rem;
}

.cs_logo {
  height: 100px;
  width: 150px;
}

input {
  padding: 10px;
  width: 20vw;
  border: 3px solid #ff861b;
  margin-top: 8px;
  font-size: 17px;
  background-color: #123740;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #ff861b;
  opacity: 65%;
}
